{% extends "header.html" %}
{% block content %}
    <br>
        <br>
            <div class="card bg-dark rounded" style="box-shadow: 0 30px 6px -6px">
                <div class="row">
                    <div class="col">
                        <br/>
                        <br/>
                    </div>
                </div>
                
                <!-- NEXT LINE GOES TO HTML TEMPLATE W/ TABLE OF ALL LISTINGS-->
                {% include "listings.html" %} 
            </div>
        </br> 
    </br>
{% endblock %}
    
    
    